
APP/Images.xcassets/Home-Screen-Elements_0005_Title-bar.imageset/Icon

APP/Images.xcassets/ç.imageset/Contents.json

APP/Images.xcassets/ç.imageset/Home-Screen-Elements_0002_Ellipse-1.png

APP/Images.xcassets/ç.imageset/Home-Screen-Elements-@2x_0002_Ellipse-1.png

APP.xcodeproj/project.xcworkspace/xcuserdata (1)/bertismrpdl.xcuserdatad/Icon

APP.xcodeproj/project.xcworkspace/xcuserdata (1)/Icon

APP/en.lproj/Icon

APP.xcodeproj/project.xcworkspace/xcuserdata/augustsun.xcuserdatad/Icon

APP.xcodeproj/project.xcworkspace/xcuserdata/Icon

APP.xcodeproj/xcuserdata (1)/bertismrpdl.xcuserdatad/Icon

APP.xcodeproj/project.xcworkspace/xcuserdata (1)/bertismrpdl.xcuserdatad/Icon

APP.xcodeproj/xcuserdata (1)/bertismrpdl.xcuserdatad/xcschemes/Icon

APP.xcodeproj/xcuserdata/augustsun.xcuserdatad/Icon

APP.xcodeproj/xcuserdata/augustsun.xcuserdatad/xcdebugger/Icon

APP.xcodeproj/xcuserdata/augustsun.xcuserdatad/xcschemes/Icon

APP.xcodeproj/xcuserdata/Icon

APP/en.lproj/Icon

APP/Icon

APP/Images.xcassets/AppIcon.appiconset/Icon

APP/Images.xcassets/Background.imageset/Icon

APP/Images.xcassets/Home-Screen-Elements_0000_Status-bar.imageset/Icon

APP/Images.xcassets/Home-Screen-Elements_0002_Ellipse-1.imageset/Icon

APP/Images.xcassets/Home-Screen-Elements_0005_Title-bar.imageset/Icon

APP/Images.xcassets/Home-Screen-Elements_0008_Go-button.imageset/Icon

APP/Images.xcassets/Home-Screen-Elements_0009_Go-+-grey-area-shadow.imageset/Icon

APP/Images.xcassets/Icon

APP/Images.xcassets/LaunchImage.launchimage/Icon

APPTests/en.lproj/Icon

APPTests/Icon

Icon

Images/Icon
